div#dashboard {
    width: 100%;
    max-width: 930px;
    margin: 20px auto;
    padding: 0 30px;
}


div#dashboard .userInfo {
    display: flex;
    height: 30px;
    align-items: center;
}

div#dashboard .userInfo a {
    margin-left: 10px;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 16px;
    background-color: crimson;
    color: #fff;
    text-decoration: none;
}

div#dashboard button {
    background-color: #272727;
    color: #fff;
    font-size: 15px;
    padding: 4px 12px;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
}